{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 60 %}
<header class="section-header text-center">
  <h1>{% if collection.handle == 'all' %}Shop Bag Balm{% else %}{{ collection.title }}{% endif %}</h1>
  {% if collection.description != blank %}
    <div class="grid">
      <div class="grid__item">
        <div class="rte">
          {{ collection.description }}
        </div>
      </div>
    </div>
  {% endif %}

    <div class="grid--full collection-sorting{% if section.settings.collection_sort_enable %} collection-sorting--enabled{% endif %}">
      {% if section.settings.collection_sort_enable %}
        {% include 'collection-sorting' %}
      {% endif %}
    </div>


<ul class="tags tags--collection inline-list">
    <li class="col-all">
        <a href="/collections/all">All</a>
    </li>
    <li class="col-hands">
        <a href="/collections/hands-skin">Hands &amp; Skin</a>
    </li>
    <li class="col-lips">
        <a href="/collections/lips">Lips</a>
    </li>
    <li class="col-pet">
        <a href="/collections/pet-care">Pet Care</a>
    </li>
   <li class="col-cbd">
        <a href="/collections/cbd">cbd</a>
    </li>
    <li class="col-apparel">
        <a href="/collections/apparel">Apparel</a>
    </li>
    <li class="col-bundle">
        <a href="/collections/bundle">Bundle &amp; Save</a>
    </li>
</ul>

<script>
  $(document).ready(function() {
      var path = window.location.pathname.split("/").pop();
      var url = location.pathname;
      if ( path == 'all' ) {
          $(".col-all").attr("class","tag--active");
       }
      if(url.indexOf('hands-skin') > -1) {
        $(".col-hands").attr("class","tag--active");
      }
      if(url.indexOf('lips') > -1) {
        $(".col-lips").attr("class","tag--active");
      }
      if(url.indexOf('cbd') > -1) {
        $(".col-cbd").attr("class","tag--active");
      }
      if(url.indexOf('pet-care') > -1) {
        $(".col-pet").attr("class","tag--active");
      }
      if(url.indexOf('apparel') > -1) {
        $(".col-apparel").attr("class","tag--active");
      }
      if(url.indexOf('bundle-save') > -1) {
        $(".col-bundle").attr("class","tag--active");
      }
  });
</script>
</header>

{% if section.settings.collection_products_grid == 'collage' %}
<div class="grid-uniform">
  {% assign grid_item_width = 'medium--one-third large--one-third' %}
  {% for product in collection.products %}
    {% include 'product-grid-item' %}
  {% else %}
    {% if collection.handle == 'all' %}
      {% comment %}
        Add default products to help with onboarding for collections/all only
      {% endcomment %}
      {% include 'onboarding-featured-products' %}
    {% else %}
      {% comment %}
        If collection exists but is empty, display message
      {% endcomment %}
      <div class="grid__item text-center">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% elsif section.settings.collection_products_grid == 'grid' %}
  <div class="grid-uniform">
    {% assign grid_item_width = 'medium--one-third large--one-third' %}
    {% for product in collection.products %}
      {% include 'product-grid-item' %}
    {% else %}
      {% if collection.handle == 'all' %}
        {% comment %}
          Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% include 'onboarding-featured-products' %}
      {% else %}
        {% comment %}
          If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item text-center">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}

{% endpaginate %}
