<!-- /templates/collection.liquid -->
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<style>
 
</style>
 <div class="collection-image mobile-hide" style="background-image:url(https://cdn.shopify.com/s/files/1/0108/4823/9675/files/BagBalm-DrySkin-Shop-Header.jpg?v=1614187888);"></div>

{% section 'collection-template' %}
{% section 'collection-wonders' %}
